{% extends 'base.html.twig' %}
{% block title %}SumUp Test{% endblock %}

{% block body %}
<h3> SumUp SDK Token Test </h3>
<ul>
    <li>Token: {{accessToken.getToken()}}</li>
    <li>Type: {{accessToken.getType()}}</li>
    <li>Expiration: {{accessToken.getExpiration()}}</li>
    <li>Expiration as Date: {{ accessToken.getExpiration()|date("d/m/Y h:i:s")}}</li>
    <li>Scope: {{dump(accessToken.getScope())}}</li>
</ul>
{% endblock %}